* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

.btn{
  color:#1b1b1b;
  background:white;
  padding:5px 20px;
  font-size:15px;
  text-decoration:none;
  letter-spacing:5px;
  text-transform:uppercase;
  border:none;
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.5);
  padding:30px 20px; #000;
  color:white;  
}

.btn2{
  color:#1b1b1b;
  background:white;
  padding:5px 20px;
  margin-right:22.5px;
  font-size:10px;
  text-decoration:none;
  letter-spacing:3.5px;
  text-transform:uppercase;
}

.btn2:hover{
  border:none;
  background:rgba(0, 0, 0, 0.5);
  padding:15px 20px; #000;
  color:white;
  
}

.art{
      text-align: center
    }
    
.art:hover{opacity:0.7}

.active {
  border:none;
  background:rgba(0, 0, 0, 0.5);
  padding:15px 20px; #000;
  color:white;
}

.gardient{
  background-color:aquamarine;
  background: linear-gradient(aquamarine,white);
}

.gardient2{
  background-color:white;
  background: linear-gradient(white,aquamarine);
}

/* .footer{
  font-size:8px;
  color:#fff;
  clear:both;
  display:block;
  letter-spacing:5px;
  border:1px solid #fff;
  padding:5px;
  text-decoration:none;
  width:210px;
  margin:auto;
  margin-top:400px;
} */